:root {
    --standOutColor: #FDAC53;
    --bodyColor: #d8d8d8;
}

.app {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 12% 10% 75% 15%;
    grid-template-areas:
        "logo header"
        "logo inputField"
        "sidebar inputField"
        "sidebar footer";
}


.logo {
    grid-area: logo;
}

.header {
    grid-area: header;
}

.sidebar {
    grid-area: sidebar;
}

.inputField {
    grid-area: inputField;
}

.footer {
    grid-area: footer;
}


@media (max-width: 1000px) {
    .app {
        display: flex;
        flex-direction: column;
    }

    .logo {
        display: none;
    }

    .sidebar {
        margin: 50px;
        padding: 15px;
        border-radius: 10px;
        box-shadow: 0 0 8px 1px grey;
    }
}

@media (max-width: 1100px) {

    .inputs {
        margin: 0;
    }


    .filters>input {
        font-size: .7rem;
        display: flex;
        width: 100%;
        margin: 10px 20px;

    }

    .byPrice {
        font-size: .5rem;

        width: 100%;
        margin: 10px 20px;

    }


}




@media (max-width: 500px) {

    .app {
        font-size: .7rem;
    }

    .filters>input {
        font-size: .6rem;
        width: 40px;
        margin: 2px;
    }

    .byPrice {
        margin: 2px;
        width: 70px;
    }

    .footer {
        font-size: .8rem;
    }
}