@media (prefers-reduced-motion: no-preference) {
    .logoImg {
        animation: logo-spin infinite 10s linear;
    }
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


:root {
    --standOutColor: #FDAC53;
    --bodyColor: #d8d8d8;
}

.app {

    display: grid;
    height: 100vh;
    grid-template-columns: 40% 60%;
    grid-template-rows: 15vh 10vh 65vh 1fr;
    grid-template-areas:
        "logo header"
        "logo inputField"
        "sidebar inputField"
        "sidebar footer";
}


.logo {
    grid-area: logo;
}

.header {
    grid-area: header;
}

.sidebar {
    grid-area: sidebar;
}

.inputField {
    grid-area: inputField;
}

.footer {
    grid-area: footer;
}





@media (max-width: 1600px) {

    .logoImg {
        width: 230px;
        padding: 10px 6px 0 0;
    }

    .emptySidebar {
        font-size: 1rem;
        height: 200px;
    }

    .sidebarButtons>button {
        width: 37px;
        height: 37px;
    }
}


@media (max-width: 1400px) {

    .renderedElements {
        font-size: .85rem;
    }

    .sidebarButtons {
        display: flex;
        flex-direction: column;
        width: 70px;
    }

    .sidebarButtons>button {
        width: 35px;
        height: 35px;
        margin: 2px auto;
    }

    .inputRow>label {
        font-size: 1.6rem;
    }
}


@media (max-width: 1300px) {

    .logoImg {
        width: 200px;
        padding: 10px 6px 0 0;
    }

    .renderedElements {
        font-size: .7rem;
    }


    .sidebarButtons>button {
        width: 30px;
        height: 30px;
    }


    .emptySidebar {
        font-size: .7rem;
        height: 150px;
    }

}


@media (max-width: 1100px) {
    .inputs {
        margin: 0;
    }

    .filters>input {
        font-size: .7rem;
        display: flex;
        width: 100%;
        margin: 10px 20px;
    }

    .byPrice {
        font-size: .7rem;
        width: 100%;
        margin: 10px 20px;
    }

    .inputRow>label {
        font-size: 1.4rem;
    }

}


@media (max-width: 1000px) {

    .logoImg {
        width: 120px;
        padding: 5px 3px 0 0;
    }

    .app {
        height: 175vh;
        grid-template-columns: 35% 65%;
        grid-template-rows: 100px 700px 40% 60px;
        grid-template-areas:
            "logo header"
            "inputField inputField"
            "sidebar sidebar"
            "footer footer";
    }

    .inputRow>label {
        font-size: 1.2rem;
    }

    .sidebar {
        margin: 60px;
        padding: 15px;
        border-radius: 10px;
        box-shadow: 0 0 8px 1px grey;
    }

    .filters>input {
        font-size: 1rem;
        margin: 10px 10px;
    }

    .byPrice {
        font-size: 1rem;
    }

    .renderedElements {
        font-size: 1rem;
    }

    .sidebarButtons {
        flex-direction: row;
        width: 100px;
    }

    .sidebarButtons>button {
        width: 45px;
        height: 42px;
        margin: 2px;
    }

    .emptySidebar {
        width: 55%;
        margin: 50px auto;
        padding: 0;
        width: 90%;
        height: 250px;
        font-size: 1.4rem;
    }

    .footer {
        position: absolute;
        top: 170vh;
        width: 98%;
    }

}




@media (max-width: 800px) {

    .filters>input {
        font-size: .8rem;
        margin: 10px 5px;
    }

    .byPrice {
        font-size: .7rem;
        margin: 5px;
    }

    .renderedElements {
        font-size: .7rem;
        margin: 0;
    }

    .renderedRow {
        margin: 10px 0;
    }

    .sidebarButtons {
        flex-direction: column;
        width: 35px;
    }

    .sidebarButtons>button {
        width: 32px;
        height: 32px;
        margin: 2px;
    }

    .emptySidebar {
        font-size: 1.1rem;
        height: 200px;
        margin: 75px auto;
    }


    .footer {
        font-size: 1rem;
    }

}



@media (max-width: 500px) {

    .logoImg {
        width: 100px;
    }

    .header{
        font-size: 1rem;
    }

    .inputField {
        font-size: .7rem;
    }

    .singleInput {
        padding: 10px;
    }

    .filters {
        flex-direction: column;
        margin: auto;
        width: 70%;
    }

    .renderedRow {
        flex-direction: column;
    }


    .sidebarButtons {
        flex-direction: row;
        width: 75px;
    }

    .product {
        width: 100%;
    }

    .store {
        width: 100%;
    }

    .price {
        width: 100%;
    }

    .sidebarButtons {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .emptySidebar {
        font-size: .5rem;
        height: 100px;

    }

    .footer {
        font-size: .7rem;
    }

}

@media (max-width: 350px) {

    .inputRow>label {
        font-size: 1rem;
    }

    .inputField {
        font-size: .5rem;
    }

    .singleInput {
        font-size: .6rem;
        padding: 5px;
        border-radius: 5px;
    }

    .buttons>button {
        font-size: .7rem;
        padding: 5px;
        margin: 5px;
    }

    .renderedElements {
        font-size: .5rem;
    }

    .emptySidebar {
        font-size: .3rem;
        height: 60px;
    }

    .footer {
        font-size: .5rem;
    }
}