.sidebar {
    padding: 10px;
    background-color: var(--bodyColor);
}

.filters {
    display: flex;
    justify-content: center;
    align-items: center;
}

.filters>input {
    text-align: center;
    width: 25%;
    padding: 10px;
    display: flex;
    margin: 5px;
    border-radius: 10px;
    border: none;
    outline: none;
}

.byPrice {
    display: flex;
    justify-content: center;
    width: 25%;
    padding: 10px;
    display: flex;
    margin: 5px;
    border-radius: 10px;
    border: none;
    outline: none;
}

.byPrice:focus {
    box-shadow: 0 0 4px 2px var(--standOutColor);
}

.filters>input:focus {
    box-shadow: 0 0 4px 2px var(--standOutColor);
}

.renderedRow {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.product {
    width: 300px;
    text-align: center;
}

.store {
    text-align: center;
    width: 150px;
    cursor: pointer;
}

.store>a {
    text-decoration: none;
    color: #0059ff;

}

.price {
    width: 90px;
    text-align: center;
}

.sidebarButtons{
    display: flex;
    width: 95px; 
}

.fa-pencil {
    border: none;
    width: 40px;
    height: 40px;
    margin-left: 5px;
    box-shadow: rgba(66, 64, 35, 0.4) 0 1px 2px, rgba(66, 66, 35, 0.3) 0 1px 3px -2px, rgba(107, 111, 58, 0.5) 0 -2px 0 inset;
    background-image: radial-gradient(100% 100% at 100% 0, #ecfa2c 0, #ffc400 100%);
    border-radius: 6px;
    color: black;
    cursor: pointer;
    height: 40px;
    transition: box-shadow .15s, transform .15s;
}

.fa-pencil:focus {
    box-shadow: #aeb123 0 0 0 1.5px inset, rgba(175, 164, 65, 0.4) 0 2px 4px, rgba(158, 154, 95, 0.3) 0 7px 13px -3px, #98a023 0 -3px 0 inset;
}

.fa-pencil:hover {
    box-shadow: rgba(66, 66, 35, 0.4) 0 4px 8px, rgba(66, 66, 35, 0.3) 0 7px 13px -3px, rgb(221, 224, 60)0 0 -4px 0 inset;
    transform: translateY(-2px);
}

.fa-pencil:active {
    box-shadow: #ffd000 0 3px 7px inset;
    transform: translateY(2px);
}



.fa-trash {
    border: none;
    width: 40px;
    height: 40px;
    margin-left: 5px;
    box-shadow: rgba(66, 35, 35, 0.4) 0 1px 2px, rgba(66, 35, 35, 0.3) 0 1px 3px -2px, rgba(111, 58, 58, 0.5) 0 -2px 0 inset;
    background-image: radial-gradient(100% 100% at 100% 0, #fa2c2c 0, #ff0000 100%);
    border-radius: 6px;
    color: white;
    cursor: pointer;
    height: 40px;
    transition: box-shadow .15s, transform .15s;
}

.fa-trash:focus {
    box-shadow: #b12323 0 0 0 1.5px inset, rgba(175, 65, 65, 0.4) 0 2px 4px, rgba(158, 95, 95, 0.3) 0 7px 13px -3px, #a02323 0 -3px 0 inset;
}

.fa-trash:hover {
    box-shadow: rgba(66, 35, 35, 0.4) 0 4px 8px, rgba(66, 35, 35, 0.3) 0 7px 13px -3px, rgb(224, 60, 60)0 0 -4px 0 inset;
    transform: translateY(-2px);
}

.fa-trash:active {
    box-shadow: #ff0000 0 3px 7px inset;
    transform: translateY(2px);
}




.emptySidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 250px;
    background-color: #0004;
    color: #FFF;
    text-shadow: 2px 2px 2px black;
    border: solid 1px grey;
    border-radius: 10px;
    margin: 100px auto;

    font-size: 1.3rem;
}