.formContainer {
    /* background-color: lightgray; */
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

form{
    background-color: var(--main-light-color);
    box-shadow: var(--dark-shadow);
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 95%;
    border-radius: 5px;    
}

form h2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    width: 100%;
}

.formContent{
    height: 80%;
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    overflow-y: auto;
}

.inputs-wrapper{
    background-color: var(--primary-light-color);
    border-radius: 5px;
    width: 85%;
    padding: 20px;
}

.inputRow{
    /* border: solid 1px; */
    width: 95%;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    font-size: 1.1rem;
    font-weight: bold;
}

.inputRow label{
    margin-left: 10px;
}

.inputRow input{
    padding: 15px;
    border: solid 1px lightgray;
    outline: none;
    font-size: 1rem;
    border-radius: 5px;
}

.inputRow input:focus{
    box-shadow: var(--dark-shadow);
}

.buttons{
    margin: 20px;
}

.save {
    box-shadow: rgba(38, 66, 35, 0.4) 0 1px 2px, rgba(38, 66, 35, 0.3) 0 1px 3px -2px, rgba(69, 111, 58, 0.5) 0 -2px 0 inset;
    background-image: radial-gradient(100% 100% at 100% 0, #2cfa36 0, #39af0a 100%);
    transition: box-shadow .15s, transform .15s;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    color: white;
    border: none;
    padding: 8px 15px;
    margin: auto 20px;
}

.save:focus {
    box-shadow: #19831f 0 0 0 1.5px inset, rgba(65, 175, 65, 0.4) 0 2px 4px, rgba(113, 158, 95, 0.3) 0 7px 13px -3px, #397516 0 -3px 0 inset;
}

.save:hover {
    box-shadow: rgba(46, 66, 35, 0.4) 0 4px 8px, rgba(41, 66, 35, 0.3) 0 7px 13px -3px, rgb(60, 224, 60)0 0 -4px 0 inset;
    transform: translateY(-4px);
}

.save:active {
    box-shadow: #02bb12 0 3px 7px inset;
    transform: translateY(2px);
}


.cancel {
    box-shadow: rgba(35, 54, 66, 0.4) 0 1px 2px, rgba(35, 55, 66, 0.3) 0 1px 3px -2px, rgba(58, 105, 111, 0.5) 0 -2px 0 inset;
    background-image: radial-gradient(100% 100% at 100% 0, #70cef3 0, #0099ff 100%);
    transition: box-shadow .15s, transform .15s;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    color: white;
    border: none;
    padding: 8px 15px;
    margin: auto 20px;
}

.cancel:focus {
    box-shadow: #2361b1 0 0 0 1.5px inset, rgba(65, 122, 175, 0.4) 0 2px 4px, rgba(95, 128, 158, 0.3) 0 7px 13px -3px, #2364a0 0 -3px 0 inset;
}

.cancel:hover {
    box-shadow: rgba(35, 55, 66, 0.4) 0 4px 8px, rgba(35, 49, 66, 0.3) 0 7px 13px -3px, rgb(60, 177, 224)0 0 -4px 0 inset;
    transform: translateY(-4px);
}

.cancel:active {
    box-shadow: #006eff 0 3px 7px inset;
    transform: translateY(2px);
}