



/* .inputField {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 60px;
    background-color: var(--bodyColor);
    border-radius: 10px;
    box-shadow: 0 0 8px 1px grey;
}

.inputs {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 100px;
}


.inputRow > label{
    display: flex;
    flex-direction: column;
    margin: 20px 0 5px 15px;
    font-size: 1.8rem;
}

.singleInput{
    padding: 15px;
    width: 80%;
    border-radius: 10px;
    border: none;
    outline: none;
}

.inputRow > input:focus {
    box-shadow: 0 0 4px 2px var(--standOutColor);
}

.buttons{
    display: flex;
    justify-content: center;
    margin: 20px;
}



.save {
    box-shadow: rgba(38, 66, 35, 0.4) 0 1px 2px, rgba(38, 66, 35, 0.3) 0 1px 3px -2px, rgba(69, 111, 58, 0.5) 0 -2px 0 inset;
    background-image: radial-gradient(100% 100% at 100% 0, #2cfa36 0, #48ff00 100%);
    transition: box-shadow .15s, transform .15s;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    color: white;
    border: none;
    padding: 8px 15px;
    margin: auto 20px;
}

.save:focus {
    box-shadow: #23b12a 0 0 0 1.5px inset, rgba(65, 175, 65, 0.4) 0 2px 4px, rgba(113, 158, 95, 0.3) 0 7px 13px -3px, #51a023 0 -3px 0 inset;
}

.save:hover {
    box-shadow: rgba(46, 66, 35, 0.4) 0 4px 8px, rgba(41, 66, 35, 0.3) 0 7px 13px -3px, rgb(60, 224, 60)0 0 -4px 0 inset;
    transform: translateY(-4px);
}

.save:active {
    box-shadow: #00ff15 0 3px 7px inset;
    transform: translateY(2px);
}


.cancel {
    box-shadow: rgba(35, 54, 66, 0.4) 0 1px 2px, rgba(35, 55, 66, 0.3) 0 1px 3px -2px, rgba(58, 105, 111, 0.5) 0 -2px 0 inset;
    background-image: radial-gradient(100% 100% at 100% 0, #2cc0fa 0, #0099ff 100%);
    transition: box-shadow .15s, transform .15s;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    color: white;
    border: none;
    padding: 8px 15px;
    margin: auto 20px;
}

.cancel:focus {
    box-shadow: #2361b1 0 0 0 1.5px inset, rgba(65, 122, 175, 0.4) 0 2px 4px, rgba(95, 128, 158, 0.3) 0 7px 13px -3px, #2364a0 0 -3px 0 inset;
}

.cancel:hover {
    box-shadow: rgba(35, 55, 66, 0.4) 0 4px 8px, rgba(35, 49, 66, 0.3) 0 7px 13px -3px, rgb(60, 177, 224)0 0 -4px 0 inset;
    transform: translateY(-4px);
}

.cancel:active {
    box-shadow: #006eff 0 3px 7px inset;
    transform: translateY(2px);
}


 */
