.logo {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--standOutColor);
}

.logoImg {
    width: 250px;
    padding: 10px 6px 0 0;
}