.productsContainer{
    /* background-color: antiquewhite; */
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    background-color: var(--main-light-color);
    box-shadow: var(--dark-shadow);
    border-radius: 5px;
    
    height: 90%;
    width: 95%;
    display: flex;
    flex-direction: column;
    
}

.products-title {
    /* border: solid 1px green; */
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filters{
    /* border: solid 1px red; */
    background: var(--primary-light-color);
    width: 90%;
    border-radius: 5px;
    margin: 10px auto;
    padding: 0 20px;
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.filters *{
    outline: none;
    font-size: 1rem;
}

.filters input{
    border: solid 1px lightgray;
    padding: 10px 20px;
    border-radius: 5px;
    min-width: 250px;
    width: 30%;
}

.filters :nth-child(3) {
    display: flex;
    justify-content: center;
    align-items: center;    
    min-width: 200px;
    width: 20%;
}

.filters input:focus{
    box-shadow: var(--dark-shadow);
}


.price-filter{
    border: none;
    outline: none;
    background: none;
    padding: 5px;
    cursor: pointer;
    font-weight: bold;
}

.price-filter :nth-child(1){
    margin-left: 10px;
}


.dropdown{
    position: relative;
}

.dropdown-menu {
    width: 100%;
    background-color: var(--main-light-color);
    border: solid 1px gray;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 40px;
    cursor: pointer;
    z-index: 2;
}

.dropdown-menu option{
    padding: 5px;
    text-align: center;
    font-weight: bold;
}

.dropdown-menu option:hover {
    background-color: #007FFF;
    color: white;
}

.dropdown .price-filter:focus + .dropdown-menu {
    display: flex;
}

.box{
    /* background-color: white; */
    /* border: solid 1px lightgray; */
    border-radius: 5px;
    height: 80%;
    width: 90%;
    margin: 0 auto 10px auto;
    overflow-y: auto;
}
.products{
    background: var(--primary-light-color);
    border-radius: 5px;
    padding: 20px;
}

.card {
    background: white;
    border: solid 1px lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
    transition: all .2s;
}

.card:hover {
    box-shadow: 0 0 4px 0 gray;
    transform: translateY(-2px);
    transition: all .2s;
}

.product{
    flex: 3;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.store{
    flex: 1;
    display: flex;
    justify-content: center;
}

.store a{
    text-decoration: none;
    color: blue;
}

.price{
    flex: 1;
    display: flex;
    justify-content: center;
}

.cardButtons button {
    font-size: 1.3rem;
}

.fa-pencil {
    border: none;
    width: 40px;
    height: 40px;
    margin-left: 5px;
    box-shadow: rgba(66, 64, 35, 0.4) 0 1px 2px, rgba(66, 66, 35, 0.3) 0 1px 3px -2px, rgba(107, 111, 58, 0.5) 0 -2px 0 inset;
    background: radial-gradient(100% 100% at 100% 0, #ecfa2c 0, #ffc400 100%);
    border-radius: 6px;
    color: black;
    cursor: pointer;
    transition: box-shadow .15s, transform .15s;
}

.fa-pencil:focus {
    box-shadow: #aeb123 0 0 0 1.5px inset, rgba(175, 164, 65, 0.4) 0 2px 4px, rgba(158, 154, 95, 0.3) 0 7px 13px -3px, #98a023 0 -3px 0 inset;
}

.fa-pencil:hover {
    box-shadow: rgba(66, 66, 35, 0.4) 0 4px 8px, rgba(66, 66, 35, 0.3) 0 7px 13px -3px, rgb(221, 224, 60)0 0 -4px 0 inset;
    transform: translateY(-2px);
}

.fa-pencil:active {
    box-shadow: #ffd000 0 3px 7px inset;
    transform: translateY(2px);
}

.fa-trash {
    border: none;
    width: 40px;
    height: 40px;
    margin-left: 5px;
    box-shadow: rgba(66, 35, 35, 0.4) 0 1px 2px, rgba(66, 35, 35, 0.3) 0 1px 3px -2px, rgba(111, 58, 58, 0.5) 0 -2px 0 inset;
    background: radial-gradient(100% 100% at 100% 0, #fa2c2c 0, #ff0000 100%);
    border-radius: 6px;
    color: white;
    cursor: pointer;
    transition: box-shadow .15s, transform .15s;
}

.fa-trash:focus {
    box-shadow: #b12323 0 0 0 1.5px inset, rgba(175, 65, 65, 0.4) 0 2px 4px, rgba(158, 95, 95, 0.3) 0 7px 13px -3px, #a02323 0 -3px 0 inset;
}

.fa-trash:hover {
    box-shadow: rgba(66, 35, 35, 0.4) 0 4px 8px, rgba(66, 35, 35, 0.3) 0 7px 13px -3px, rgb(224, 60, 60)0 0 -4px 0 inset;
    transform: translateY(-2px);
}

.fa-trash:active {
    box-shadow: #ff0000 0 3px 7px inset;
    transform: translateY(2px);
}

.emptySidebar {
    background: var(--primary-light-color);
    border: solid 1px lightgray;
    color: rgb(168, 168, 168);
    letter-spacing: 1px;
    word-spacing: 5px;
    display: flex;
    padding: 100px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 1.3rem;
} 
