:root {
  --bg-header-sideBar: #FF851B;

  --header-height: 200px;
  --footer-height: 40px;
  --sideBar-width: 35%;

  --shadow: 
      0 2px 23px rgba(0, 0, 0, 0.1),
      0 2px 50px rgba(0, 0, 0, 0.08);
}

* {
  text-align: center;
  font-family: sans-serif;
}

.app{
  margin: 0;
  display: grid;
  grid-template-columns: var(--sideBar-width) 1fr;
  grid-template-rows: 
      var(--header-height)
      1fr
      var(--footer-height);
  grid-template-areas: 
      "logo header"
      "sideBar body"
      "footer footer";
  height: 100vh;
}

.header{
  grid-area: header;
}

.logo{
  grid-area: logo;
}

.body {
  grid-area: body;
}

.sidebarContainer{
  grid-area: sideBar;
}

.footer{
  grid-area: footer;
}

@media (max-width: 1000px) {
  .app{

    grid-template-rows: 
      var(--header-height)
      1fr
      1fr
      var(--footer-height);

    grid-template-areas: 
    "header header"
    "body body"
    "sideBar sideBar"
    "footer footer";
  }


  .logo {
    display: none;
  }
}