@font-face {
    font-family: "OpenSans";
    src: url("../public/fonts/OpenSans.ttf");
}

* {
    font-family: 'OpenSans';
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* LIGHT MODE */
    --main_color_light_mode: #cdd5f3;
    --main_bg_light_mode: #EDF1FF;
    --second_bg_light_mode: #fff;
    --text_color_light_mode: #000;
    --shadow_light_mode: 0 0 5px 0 var(--main_color_light_mode);
    
    /* DARK MODE */
    --main_color_dark_mode: #2F2F31;
    --background_dark_mode: linear-gradient(to top, #2C3036, #7F8489);
    --shadow_dark_mode: 0 0 5px 0 var(--main_color_dark_mode);
    --input_bg_dark_mode: #000;
    --text_color_dark_mode: #fff;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.header {
    box-shadow: var(--shadow_light_mode);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main_color_light_mode);
    height: 80px;
    gap: 20px;
    color: var(--text_color_light_mode);
}

.header :nth-child(1){
    font-size: 2rem;
}

.center {
    max-height:85vh ;
    display: flex;
    flex: 1;
}


.footer {
    background-color: var(--main_color_light_mode);
    box-shadow: var(--shadow_light_mode);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.fa-heart {
    color: red;
    margin: 10px;
}